In [4]:
%defaultDatasource jdbc:h2:file:./ILOSTAT_database/database

DROP TABLE IF EXISTS UNPLOYMENT;
DROP TABLE IF EXISTS POPULATION;
DROP TABLE IF EXISTS WORKINGPOVERTY;
DROP TABLE IF EXISTS CHILDRENECONOMIC;


CREATE TABLE UNPLOYMENT (
    ID INTEGER NOT NULL AUTO_INCREMENT,
    NAME VARCHAR(100),
    SEX VARCHAR(10),
    CLASSIF1 VARCHAR(100),
    OBS_VALUE DOUBLE,
    PRIMARY KEY(ID)
) AS SELECT
    name,
    sex,
    classif1,
    obs_value
FROM CSVREAD('./ILOSTAT_processed/unployment_rate.csv');

SELECT * FROM UNPLOYMENT;

CREATE TABLE POPULATION (
    ID INTEGER NOT NULL AUTO_INCREMENT,
    NAME VARCHAR(100),
    SEX VARCHAR(10),
    CLASSIF1 VARCHAR(100),
    OBS_VALUE DOUBLE,
    PRIMARY KEY(ID)
) AS SELECT
    "name",
    "sex",
    "classif1",
    "obs_value"
FROM CSVREAD('./ILOSTAT_processed/population.csv');

SELECT * FROM POPULATION;

CREATE TABLE WORKINGPOVERTY (
    ID INTEGER NOT NULL AUTO_INCREMENT,
    NAME VARCHAR(100),
    SEX VARCHAR(10),
    CLASSIF1 VARCHAR(100),
    OBS_VALUE DOUBLE,
    PRIMARY KEY(ID)
) AS SELECT
    "name",
    "sex",
    "classif1",
    "obs_value"
FROM CSVREAD('./ILOSTAT_processed/working_poverty.csv');

SELECT * FROM WORKINGPOVERTY;

CREATE TABLE CHILDRENECONOMIC (
    ID INTEGER NOT NULL AUTO_INCREMENT,
    NAME VARCHAR(100),
    SEX VARCHAR(10),
    CLASSIF1 VARCHAR(100),
    OBS_VALUE DOUBLE,
    PRIMARY KEY(ID)
) AS SELECT
    "name",
    "sex",
    "classif1",
    "obs_value"
FROM CSVREAD('./ILOSTAT_processed/children_economic_act.csv');

SELECT * FROM CHILDRENECONOMIC;

org.h2.jdbc.JdbcSQLException:  Column count does not match; SQL statement