In [1]:
%defaultDatasource jdbc:h2:file:./unesco_database/database

In [2]:
-- Drop tables
DROP TABLE IF EXISTS Countries;
DROP TABLE IF EXISTS Region;
DROP TABLE IF EXISTS SubRegion;
DROP TABLE IF EXISTS CountryRead;
DROP TABLE IF EXISTS WHR2015;
DROP TABLE IF EXISTS descricao;
DROP TABLE IF EXISTS indicadores;
DROP TABLE IF EXISTS a2015C;
DROP TABLE IF EXISTS a2016C;
DROP TABLE IF EXISTS a2017C;
DROP TABLE IF EXISTS a2018C;
DROP TABLE IF EXISTS a2019C;
DROP TABLE IF EXISTS a2015;
DROP TABLE IF EXISTS a2016;
DROP TABLE IF EXISTS a2017;
DROP TABLE IF EXISTS a2018;
DROP TABLE IF EXISTS a2019;

In [3]:


CREATE TABLE a2015 (
    Local VARCHAR(4) NOT NULL,
    SP_DYN_LE00_IN DOUBLE ,
    SP_DYN_IMRT_IN DOUBLE,
    NY_GDP_MKTP_CD DOUBLE,
    NY_GDP_PCAP_CD DOUBLE,
    NY_GDP_MKTP_KD_ZG DOUBLE,
    "200343" DOUBLE,
    "200144" DOUBLE,
    "200345" DOUBLE,
    "200151" DOUBLE,
    SP_RUR_TOTL_ZS  DOUBLE,
    "200101" DOUBLE,
    
  PRIMARY KEY(Local)
) AS SELECT
    Local,
    SP_DYN_LE00_IN,
    SP_DYN_IMRT_IN,
    NY_GDP_MKTP_CD,
    NY_GDP_PCAP_CD,
    NY_GDP_MKTP_KD_ZG,
    "200343",
    "200144",
    "200345",
    "200151",
    SP_RUR_TOTL_ZS,
    "200101"
FROM CSVREAD('./unesco_processed_data/unesco_socio_eco_2015.csv');

In [4]:
select * from a2015;

In [5]:

CREATE TABLE a2016 (
    Local VARCHAR(4) NOT NULL,
    SP_DYN_LE00_IN DOUBLE ,
    SP_DYN_IMRT_IN DOUBLE,
    NY_GDP_MKTP_CD DOUBLE,
    NY_GDP_PCAP_CD DOUBLE,
    NY_GDP_MKTP_KD_ZG DOUBLE,
    "200343" DOUBLE,
    "200144" DOUBLE,
    "200345" DOUBLE,
    "200151" DOUBLE,
    SP_RUR_TOTL_ZS  DOUBLE,
    "200101" DOUBLE,
    
  PRIMARY KEY(Local)
) AS SELECT
    Local,
    SP_DYN_LE00_IN,
    SP_DYN_IMRT_IN,
    NY_GDP_MKTP_CD,
    NY_GDP_PCAP_CD,
    NY_GDP_MKTP_KD_ZG,
    "200343",
    "200144",
    "200345",
    "200151",
    SP_RUR_TOTL_ZS,
    "200101"
FROM CSVREAD('./unesco_processed_data/unesco_socio_eco_2016.csv');

CREATE TABLE a2017 (
    Local VARCHAR(4) NOT NULL,
    SP_DYN_LE00_IN DOUBLE ,
    SP_DYN_IMRT_IN DOUBLE,
    NY_GDP_MKTP_CD DOUBLE,
    NY_GDP_PCAP_CD DOUBLE,
    NY_GDP_MKTP_KD_ZG DOUBLE,
    "200343" DOUBLE,
    "200144" DOUBLE,
    "200345" DOUBLE,
    "200151" DOUBLE,
    SP_RUR_TOTL_ZS  DOUBLE,
    "200101" DOUBLE,
    
  PRIMARY KEY(Local)
) AS SELECT
    Local,
    SP_DYN_LE00_IN,
    SP_DYN_IMRT_IN,
    NY_GDP_MKTP_CD,
    NY_GDP_PCAP_CD,
    NY_GDP_MKTP_KD_ZG,
    "200343",
    "200144",
    "200345",
    "200151",
    SP_RUR_TOTL_ZS,
    "200101"
FROM CSVREAD('./unesco_processed_data/unesco_socio_eco_2017.csv');

CREATE TABLE a2018 (
    Local VARCHAR(4) NOT NULL,
    SP_DYN_LE00_IN DOUBLE ,
    SP_DYN_IMRT_IN DOUBLE,
    NY_GDP_MKTP_CD DOUBLE,
    NY_GDP_PCAP_CD DOUBLE,
    NY_GDP_MKTP_KD_ZG DOUBLE,
    "200343" DOUBLE,
    "200144" DOUBLE,
    "200345" DOUBLE,
    "200151" DOUBLE,
    SP_RUR_TOTL_ZS  DOUBLE,
    "200101" DOUBLE,
    
  PRIMARY KEY(Local)
) AS SELECT
    Local,
    SP_DYN_LE00_IN,
    SP_DYN_IMRT_IN,
    NY_GDP_MKTP_CD,
    NY_GDP_PCAP_CD,
    NY_GDP_MKTP_KD_ZG,
    "200343",
    "200144",
    "200345",
    "200151",
    SP_RUR_TOTL_ZS,
    "200101"
FROM CSVREAD('./unesco_processed_data/unesco_socio_eco_2018.csv');

CREATE TABLE a2019 (
    Local VARCHAR(4) NOT NULL,
    SP_DYN_LE00_IN DOUBLE ,
    SP_DYN_IMRT_IN DOUBLE,
    NY_GDP_MKTP_CD DOUBLE,
    NY_GDP_PCAP_CD DOUBLE,
    NY_GDP_MKTP_KD_ZG DOUBLE,
    "200343" DOUBLE,
    "200144" DOUBLE,
    "200345" DOUBLE,
    "200151" DOUBLE,
    SP_RUR_TOTL_ZS  DOUBLE,
    "200101" DOUBLE,
    
  PRIMARY KEY(Local)
) AS SELECT
    Local,
    SP_DYN_LE00_IN,
    SP_DYN_IMRT_IN,
    NY_GDP_MKTP_CD,
    NY_GDP_PCAP_CD,
    NY_GDP_MKTP_KD_ZG,
    "200343",
    "200144",
    "200345",
    "200151",
    SP_RUR_TOTL_ZS,
    "200101"
FROM CSVREAD('./unesco_processed_data/unesco_socio_eco_2019.csv');

In [6]:
DROP TABLE IF EXISTS anos;

CREATE TABLE Anos (
    ano integer,
  PRIMARY KEY(ano)
)

In [7]:
INSERT INTO anos
    VALUES(2015);
INSERT INTO anos
    VALUES(2016);
INSERT INTO anos
    VALUES(2017);
INSERT INTO anos
    VALUES(2018);
INSERT INTO anos
    VALUES(2019);

In [8]:
select * from anos;

In [17]:
DROP TABLE IF EXISTS a2015C;
DROP TABLE IF EXISTS a2016C;
DROP TABLE IF EXISTS a2017C;
DROP TABLE IF EXISTS a2018C;
DROP TABLE IF EXISTS a2019C;

create view a2015c as
select * 
from a2015 A, anos An
where An.ano = 2015;

create view a2016c as
select * 
from a2016 A, anos An
where An.ano = 2016;

create view a2017c as
select * 
from a2017 A, anos An
where An.ano = 2017;

create view a2018c as
select * 
from a2018 A, anos An
where An.ano = 2018;

create view a2019c as
select * 
from a2019 A, anos An
where An.ano = 2019;

In [28]:
drop table if exists indicadores;

create view indicadores as
select * 
from a2015c
union
select *
from a2016c
union
select *
from a2017c
union 
select *
from a2018c
union
select *
from a2019c;

-- select * from indicadores order by local, ano;

In [29]:
CALL CSVWRITE('./unesco_processed_data/unesco_interest_data.csv','select * from indicadores order by local, ano')

1165

In [31]:
select * from indicadores
order by local,ano;

In [32]:
DROP TABLE IF EXISTS descricao;

CREATE TABLE descricao (
   codigo VARCHAR(300),
    descricao VARCHAR(500),
    
  PRIMARY KEY(codigo)
) AS SELECT
  codigo,
  descricao
FROM CSVREAD('./unesco_processed_data/unesco_descricao.csv');

In [33]:
select * from descricao;

# Código dos países

In [148]:
DROP TABLE IF EXISTS Countries;
DROP TABLE IF EXISTS Region;
DROP TABLE IF EXISTS SubRegion;
DROP TABLE IF EXISTS CountryRead;

CREATE TABLE CountryRead (
name VARCHAR(100),
alpha2 VARCHAR(5),
alpha3 VARCHAR(5),
region VARCHAR(100),
subregion VARCHAR(100),
    PRIMARY KEY(alpha3)
) AS SELECT
    name,
    "alpha-2",
    "alpha-3",
    region,
    "sub-region"
FROM CSVREAD('./datasets/country_atualizado.csv')
WHERE region!='';

-- dividir as tabelas
CREATE VIEW SubRegion AS
SELECT DISTINCT subregion, region
    FROM CountryRead
    WHERE region != ''
    ORDER BY SUBREGION;
    
CREATE VIEW Region AS
SELECT DISTINCT region
    FROM CountryRead
    WHERE region != ''
    ORDER BY REGION;
    
CREATE VIEW Countries AS
SELECT name, alpha2, alpha3, subregion
    FROM CountryRead
    ORDER BY NAME;

select * from countries;

CALL CSVWRITE('./database_structure/countries.csv','select * from countries');
CALL CSVWRITE('./database_structure/subregions.csv','select * from subregion');
CALL CSVWRITE('./database_structure/regions.csv','select * from region');

In [159]:
DROP TABLE IF EXISTS WHR2015;
DROP TABLE IF EXISTS WHR2016;
DROP TABLE IF EXISTS WHR2017;
DROP TABLE IF EXISTS WHR2018;
DROP TABLE IF EXISTS WHR2019;


CREATE TABLE WHR2015 (
    Country VARCHAR(100),
    HappinessRank INTEGER,
    HappinessScore DOUBLE,
    GDPCapita DOUBLE,
    Family DOUBLE,
    LifeExpectancy DOUBLE,
    Freedom DOUBLE,
    GovCorruption DOUBLE,
    Generosity DOUBLE,
    PRIMARY KEY(Country)
) AS SELECT
    Country,
    "Happiness Rank",
    "Happiness Score",
    "Economy (GDP per Capita)",
    Family,
    "Health (Life Expectancy)",
    Freedom,
    "Trust (Government Corruption)",
    Generosity
FROM CSVREAD('./WHR_processed/2015.csv');

--SELECT * FROM WHR2015;

CREATE TABLE WHR2016 (
    Country VARCHAR(100),
    HappinessRank INTEGER,
    HappinessScore DOUBLE,
    GDPCapita DOUBLE,
    Family DOUBLE,
    LifeExpectancy DOUBLE,
    Freedom DOUBLE,
    GovCorruption DOUBLE,
    Generosity DOUBLE,
    PRIMARY KEY(Country)
) AS SELECT
    Country,
    "Happiness Rank",
    "Happiness Score",
    "Economy (GDP per Capita)",
    Family,
    "Health (Life Expectancy)",
    Freedom,
    "Trust (Government Corruption)",
    Generosity
FROM CSVREAD('./WHR_processed/2016.csv');

--SELECT * FROM WHR2016;

CREATE TABLE WHR2017 (
    Country VARCHAR(100),
    HappinessRank INTEGER,
    HappinessScore DOUBLE,
    GDPCapita DOUBLE,
    Family DOUBLE,
    LifeExpectancy DOUBLE,
    Freedom DOUBLE,
    GovCorruption DOUBLE,
    Generosity DOUBLE,
    PRIMARY KEY(Country)
) AS SELECT
    Country,
    "Happiness.Rank",
    "Happiness.Score",
    "Economy..GDP.per.Capita.",
    Family,
    "Health..Life.Expectancy.",
    Freedom,
    "Trust..Government.Corruption.",
    Generosity
FROM CSVREAD('./WHR_processed/2017.csv');

--SELECT * FROM WHR2017;

CREATE TABLE WHR2018 (
    Country VARCHAR(100),
    HappinessRank INTEGER,
    HappinessScore DOUBLE,
    GDPCapita DOUBLE,
    Family DOUBLE,
    LifeExpectancy DOUBLE,
    Freedom DOUBLE,
    GovCorruption DOUBLE,
    Generosity DOUBLE,
    PRIMARY KEY(Country)
) AS SELECT
    "Country or region",
    "Overall rank",
    Score,
    "GDP per capita",
    "Social support",
    "Healthy life expectancy",
    "Freedom to make life choices",
    "Perceptions of corruption",
    Generosity
FROM CSVREAD('./WHR_processed/2018.csv');

--SELECT * FROM WHR2018;

CREATE TABLE WHR2019 (
    Country VARCHAR(100),
    HappinessRank INTEGER,
    HappinessScore DOUBLE,
    GDPCapita DOUBLE,
    Family DOUBLE,
    LifeExpectancy DOUBLE,
    Freedom DOUBLE,
    GovCorruption DOUBLE,
    Generosity DOUBLE,
    PRIMARY KEY(Country)
) AS SELECT
    "Country or region",
    "Overall rank",
    Score,
    "GDP per capita",
    "Social support",
    "Healthy life expectancy",
    "Freedom to make life choices",
    "Perceptions of corruption",
    Generosity
FROM CSVREAD('./WHR_processed/2019.csv');

-- SELECT * FROM WHR2019 order by country;



drop table if exists aux;
create view aux as
select country, name from
    (select w.*, c.name, c.alpha3
        from whr2017 w left join countries c
            ON w.country = c.name)
    order by name, country;
    
select * from aux;